header {
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 90px;
  border-bottom: 1px solid #bebec5;

  .header-top {
    line-height: 60px;
    vertical-align: middle;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-privacy {
      padding-left: 30px;
      display: flex;
      align-content: center;

      div {
        display: flex;
        padding-top: 3px;

        img {
          padding-right: 5px;
        }
      }

      div {
        font-size: 23px;
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        padding-right: 15px;
        height: 25px;
      }

      i {
        font-size: 26px;
      }
    }
  }

  .header-bottom {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    ul {
      padding-left: 30px;
      list-style: none;
      width: 70%;
      display: flex;

      li {
        font-size: 20px;
        padding-bottom: 5px;
        padding-right: 80px;
      }
    }
  }
}
